body {
	margin: 0;
	box-sizing: border-box;
}

* {
	font: ubuntu;
}

.header {
	height: 30vh;
	text-align: center;
}

.horizontal-container {
	width: 100%;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.ocena {
	width: 15%;
	aspect-ratio: 1/1;
	
	padding: 10px;
	
	text-align: center;
}
