body {
	margin: 0;
	box-sizing: border-box;
}

* {
	font-family: "Arial";
}

.header {
	height: 30vh;
	text-align: center;
}

h1 {
	font-size: 6vw;
}

.horizontal-container {
	width: 100%;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.ocena {
	user-select: none;
	
	width: 15%;
	aspect-ratio: 1/1;
	
	margin: 1.5%;
	
	overflow: hidden;
	
	text-align: center;
	font-size: 7vw;
	color: white;
	border-radius: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

div div:nth-child(1) {
  background: red;
}

div div:nth-child(2) {
  background: orange;
}

div div:nth-child(3) {
  background: yellow;
}

div div:nth-child(4) {
  background: lightgreen;
}

div div:nth-child(5) {
  background: green;
}

.ocena-liczba {
	margin: 0;
	padding: 0;
}
